.pay {
  .order-price {
    width: 200px;
    margin-left: auto;
    .label {
      font-weight: 400;
      font-size: 16px;
      color: #83889d;
      .discount {
        margin-left: auto;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
      }
      .actually {
        margin-left: auto;
        font-weight: bold;
        font-size: 28px;
        color: #ff4151;
      }
    }
  }
  .no-use-coupon {
    margin-left: 20px;
    color: rgb(166, 166, 166);
  }
  .end {
    margin-left: auto;
    .label {
      font-weight: 400;
      font-size: 18px;
      color: #666666;
    }
    .detail {
      padding-left: 8px;
      font-weight: 500;
      font-size: 18px;
      color: #000000;
    }
    .price {
      min-width: 80px;
      font-weight: 500;
      font-size: 16px;
      color: #fba201;
    }
  }
  .coupon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .spread {
    &:hover {
      cursor: pointer;
    }
  }
  .pay-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .footer {
    position: fixed;
    top: 85%;
    width: 85%;
    z-index: 100;
    height: 89px;
    background: #f7f8fb;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 20px;

    ::v-deep .el-checkbox__label {
      color: inherit; /* 保持字体颜色不变 */
    }
    .label {
      font-weight: 400;
      font-size: 16px;
      color: #666666;
    }
    .el-button {
      width: 138px;
      height: 49px;
      background: #3972fd;
      border-radius: 4px 4px 4px 4px;
    }
  }
}
